#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title
          = title 
      .modal-body
        %p
          = simple_format(content)
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
