.wrapper
  = form_for(@article) do |f|
    .row
      .col-sm-12
        .form-title
          = f.text_field :title, placeholder: 'タイトル', class: 'form-control'
    .row
      .col-sm-12
        .form-body
          = f.text_area :content, rows: 30, class: 'form-control'

    .form-actions
      = f.button :submit, class: 'btn btn-lg btn-primary'
