.list-group
  - @articles.each do |article|
    = link_to article_path(article), class: 'list-group-item' do
      %h6
        = "#{article.user.screen_name}さんが投稿しました"
      %h4
        = article.title
